<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h1>Hello Good Morning Ashwin</h1>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <h2 class="text-3xl">Create User</h2>
        <form action="/login" method="post">
            <input type="text" class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800" name="username" placeholder="Username" required>
            <input type="email" class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800" name="email" placeholder="Email" required>
            <input type="password" class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800" name="password" placeholder="Password" required>
            <input type="number" class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800" name="age" placeholder="Age" required>
            <input type="submit" class="px-3 py-2 rounded-md  border-2 background-blue-500" placeholder="create user"> <input/>
        </form>
    </div>

            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</body>
</html>